<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">Main</button>
    </div>

    <div class="info">
        <strong>Kostyanp95</strong>
        <small>25.03.2020</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, obcaecati.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, obcaecati.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, obcaecati.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, obcaecati.</p>
    </div>
</div>